// Fuente de google
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700;800&family=Poppins:wght@100;300;400&family=Roboto:ital,wght@1,100&display=swap');

@mixin titleStyle ($padding-top, $padding-bottom) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: 0%;
    padding-right: 0%;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
    background: linear-gradient(0deg, rgba(166, 166, 166, 1)0%, rgba(255, 255, 255, 1) 32%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin textStyle($padding-top-bottom, $padding-left-right) {
    padding: $padding-top-bottom $padding-left-right;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

@mixin parallax($section-size) {
    height: $section-size;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}